<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Good job!!</h4>
      
      <img src="{{url}}" />
      
      <p><small>Courtesy: <a href="http://giphy.com">Buzzfeed</a></small></p>
    </div>
  </body>
</html>

